################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project IV/FileContentIndex/3164e32c-c53c-4d54-8e4e-42cef18b808b.vsidx
/.vs/Project IV/FileContentIndex/21e665b1-3025-47fe-9131-baf39505ffb7.vsidx
